body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: darkblue;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
h1{
    grid-column: span 3;
    margin-bottom: 20px;
    grid-template-columns: auto-fill ;
    gap: 20px;
    

`}
