body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.BLOCK-MENU a{
  display: block;
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}
.INLINE-MENU a{
  display: inline;
  background-color: #2ecc71;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
.float-menu a{
  display: inline;
  background-color: #2ecc71;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
