body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    text-align: center;
    margin: 20px;
}
h1{
    color: #000;
    margin: bottom 30px;
}
.product-box{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 8px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-box h2{
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}
.rounded-border {
  border: #000;
  border-radius: 
  border-radius: 15px; 
}

