body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}
h1{ 
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navigation Bar */
.navbar {
    background-color: #131921;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-box {
    width: 40%;
    padding: 8px;
}

.search-btn {
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
}

.cart {
    margin-left: auto;
    font-size: 18px;
}

/* Banner */
.banner {
    background: url('https://via.placeholder.com/1500x400') no-repeat center;
    background-size: cover;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    padding: 8px 15px;
    background: #ff9900;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
