* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #f5c400;
    margin-right: 30px;
}

.delivery p {
    font-size: 12px;
    color: gray;
}

.search-box {
    flex: 1;
    margin: 0 30px;
}

.search-box input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #f2f2f2;
}

.nav-right a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.cart-btn {
    background: #ddd;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    padding: 20px;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
}

.category {
    padding: 15px;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.category.active {
    border-left: 5px solid green;
    font-weight: bold;
}

/* PRODUCTS */
.products {
    flex: 1;
    margin-left: 20px;
}

.products h2 {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card img {
    display: block;
    margin: auto;
}

.time {
    font-size: 12px;
    color: green;
}

.card h4 {
    font-size: 14px;
    margin: 10px 0;
}

.card p {
    font-size: 12px;
    color: gray;
}

.price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-add button {
    border: 1px solid green;
    background: white;
    color: green;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.navbar {
    display: flex;
    background-color: white;
}

.navbar a {
    flex: 1; /* Make links evenly spaced */
    text-align: center;
    padding: 14px 0;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: wheat;
}

